
<%= form_for @account do |f| %>
            
            <% if @account.errors.any? %>
                
                    <h2>
                        <%= pluralize(@account.errors.count, "error") %> need to be resolved:
                  </h2>
                  <ul>
                    <% @account.errors.full_messages.each do |msg| %>
                      <%= msg %><br>
                    <% end %>
                  </ul>
                
            <% end %>
            
            <p>
                <%= f.label :username %><br>
                <%= f.text_field :username %>
            </p>
            <p>
                <%= f.label :password %><br>
                <%= f.password_field :password %>
            </p>
            <p>
                <%= f.label :first_name %><br>
                <%= f.text_field :first_name %>
            </p>
            <p>
                <%= f.label :last_name %><br>
                <%= f.text_field :last_name %>
            </p>
            <p>
                <%= f.submit %>
            </p>
        <% end %>
